.player-container {
  display: flex;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--main-color);
  align-items: center;
  border-radius: 8px;
  width: 100%;
  margin-bottom: 14px;
}

.rank {
  background-color: var(--third-color);
  color: white;
  padding: 0 14px;
  border-radius: 8px;
}

.firstname {
  border-radius: 8px;
  color: white;
  margin-left: 10px;
}

.points {
  background-color: var(--second-color);
  position: relative;
  padding: 0 5px;
  border-radius: 8px;
  margin-left: auto;
}
