body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  --main-color: #01674f;
  --second-color: #9bf372;
  --third-color: #004031;
}

:root {
  box-sizing: border-box;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}
